html,
body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

button,
input[type="checkbox"] {
  outline: none;
}

.hidden {
  display: none;
}

.truck-loc-app {
  background: #fff;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100vw;
  top: -1rem;
  display: flex;
  flex-direction: column;
}

.header__title {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  height: 5rem;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  color: rgba(47, 47, 175, 0.85);
  background-color: rgba(255, 255, 255, 0.45);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.search-box {
  position: relative;
  height: 1.2rem;
  padding: .25rem .25rem .25rem 2rem;
  margin-top: -2.5rem;
  width: 16.5rem;
  line-height: 1.6rem;
  align-self: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.search-box::-webkit-input-placeholder {
  font-style: italic;
  font-size: 1rem;
  font-weight: 300;
  color: #666;
}

.search-box::-moz-placeholder {
  font-style: italic;
  font-size: 1rem;
  font-weight: 300;
  color: #666;
}

.search-box::input-placeholder {
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
  color: #666;
}

.no-results {
  text-align: center;
  font-size: 2rem;
  padding-top: 10rem;
  line-height: 2.2rem;
}

.active-truck__container {
  height: 13rem;
}

.active-truck__item {
  font-size: .75rem
}

.active-truck__itemLabel {
  font-style: italic
}

.active-truck__location {
  display: block;
  padding-left: 0.5rem;
  line-height: .9rem;
}

.active-truck__hours {
  font-weight: bold;
}

.active-truck__taglist {
  padding-left: 0.5rem;
  font-size: .65rem;
  list-style: circle inside;
  margin-top: 0;
  -webkit-column-count:2;
  -moz-column-count:2;
  -ms-column-count:2;
  -o-column-count:2;
  column-count:2;
  -webkit-column-gap:.25rem;
  -moz-column-gap:.25rem;
  -ms-column-gap:.25rem;
  -o-column-gap:.25rem;
  column-gap:.25rem;
  columns:2;
}

.active-truck__taglist__item {
  line-height: .9rem
}
